@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body > div {
  height: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
.slick-list {
  display: flex;
  height: 100%;
}
.slick-list .slick-slide > div {
  height: 100%;
}
