@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body>div {
    height: 100%;
}

.HomePage .slick-track {
    display: flex !important;
}

.HomePage .slick-slide {
    height: inherit !important;
}

.HomePage .slick-list {
    display: flex;
    height: 100%;
}

.HomePage .slick-list .slick-slide>div {
    height: 100%;
}

.PageHeight {
    min-height: calc(100% - 158px);
}